{% extends "base.html" %}
{% load pagination_tags %}
{% load i18n %}

{% block body %}

    <div class="row">
        <div class="left-bar col-md-2 col-xs-12 col-lg-2 col-sm-3">
            <div class="category hidden-xs">
                <div class="panel-body">
                    <h4>文章分类</h4>
                    {% if categories %}
                    <ul class="list-group">
                    {% for c in categories %}
                      <li class="list-group-item">
                        <a href="{{ c.get_absolute_url }}" title="{{ c.name }}">
                        <!-- <i class="glyphicon glyphicon-list"></i> -->
                        {{ c.name|slice:"8" }}{% if c.name|length > 8 %}...{% endif %}
                            <span class="badge badge-info pull-right"> {{ c.count }} </span>
                      </a>
                      </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <hr />
                <div class="friends_links">
                    <div class="panel-body">
                        <h4>友情链接</h4>
                        {% if links %}
                        <ul class="list-group">
                        {% for l in links %}
                          <li class="list-group-item">
                            <a href="{{ l.url }}" target="_blank" title="{{ l.name }}">
                                {{ l.name|slice:"6" }}{% if l.name|length > 6 %}...{% endif %}
                            </a>
                          </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="right-content col-md-9 col-xs-11 col-lg-9 col-sm-8">
            <div class="content">
                    {% autopaginate posts %}
                    {% for post in posts %}

                    <div class="post">
                      <h4>
                                {% if post.is_type_original %}
                                    <span class="label label-success">
                                {% elif post.is_type_reproduce %}
                                    <span class="label label-warning">
                                {% elif post.is_type_sum_up %}
                                    <span class="label label-primary">
                                {% else %}
                                    <span class="label label-default">
                                {% endif %}
                                    {% trans post.get_p_type_display %}
                                    </span> &nbsp;
                            <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                {{ post.title|slice:"40" }}{% if post.title|length > 40 %}...{% endif %}
                            </a>
                        </h4>
		      <br />
                      <div class="info">
                            <i class="glyphicon glyphicon-user"></i>
                            {{ post.author.username }} / 
                            <i class="glyphicon glyphicon-time"></i>
                      {% if user.is_authenticated %}
                        {{ post.created|date:"Y-m-d H:i" }}
                      {% else %}
                        {{ post.created|date:"Y-m-d" }}
                      {% endif %}
                      
                        {% if user.is_authenticated %}
                            <a href="{% url 'edit' post.id %}">编辑</a>
                            <a href="{{ post.get_admin_url }}">后台编辑</a>
                        {% endif %}

                          <div class="tags pull-right">
                              {% for tag in post.ptags %}
                                <a href="{% url 'tag' tag.id %}">
                                    <span class="badge">{{ tag }}</span>
                                </a>
                                &nbsp;
                              {% endfor %}
                          </div>
                      </div>
                    <div class="clearfix"></div>
                    </div>

                    <hr />
                    {% endfor %}

            </div>
            {% paginate %}

            
        </div>
    </div>



{% endblock %}
