{% extends "base.html" %}
{% load pagination_tags %}

{% block head_title %}index{% endblock %}



{% block body %}


<div class="post-body">
    {% autopaginate posts %}
    {% for post in posts %}

    <div class="post">
      <h3><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title|slice:"40" }}{% if post.title|length > 40 %}...{% endif %}</a></h3>
      <div class="info"><i class="icon-user"></i>{{ post.author.username }} / <i class="icon-time"></i>{{ post.created|date:"Y-m-d H:i" }}</div>
    </div>

    {% endfor %}
    {% paginate %}
</div>

{% endblock %}