<div class="leftbar container-fluid span3">

    <div class="category">
        <div class="panel-body well">
            <h3>文章分类</h3>
            {% if categories %}
            <ul class="list-unstyled">
            {% for c in categories %}
              <li>- <a href="{{ c.get_absolute_url }}" title="{{ c.name }}">
                {{ c.name|slice:"6" }}{% if c.name|length > 6 %}...{% endif %}
                    <span class="badge badge-success pull-right"> {{ c.count }} </span>
              </a>
              </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>


    <div class="friends_links">
        <div class="panel-body well">
            <h3>友情链接</h3>
            {% if links %}
            <ul class="list-unstyled">
            {% for l in links %}
              <li>- <a href="{{ l.url }}" target="_blank" title="{{ l.name }}">
                {{ l.name|slice:"6" }}{% if l.name|length > 6 %}...{% endif %}
              </a>
              </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

</div>